.icon {
  width: 25px;
  height: 25px;
  background-color: #2563eb;
  border-radius: 100%;
  position: relative;
  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    color: white;
  }
}
.pop-up {
  padding: 16px !important;
}
