@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");

.title-surface {
  font-family: "Italianno", cursive;
  font-size: 85px;
  line-height: 110%;
  font-weight: 500;
  color: #a16207;
  margin-bottom: 36px;
}
p {
  letter-spacing: -0.4px;
}
.surface-img {
  object-fit: cover;
  height: 100%;
}
