* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: inherit;
}
input {
  outline: none;
}
.section-container {
  width: 1440px;
  height: 900px;
  margin: 0 auto;
  background-color: white;
}
.section-container-list {
  width: 1440px;
  height: 1094px;
  margin: 0 auto;
  background-color: white;
}

.App {
  background-color: #e5e5e5;
}
